@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1 class="text-danger">Forbidden.</h1>
        <h2 class="text-danger">Not authorized to access this page.</h2>
    </div>
</body>
</html>