<div class="report-rightcol">


    @Html.Partial("~/Areas/Admin/Views/Report/_ReportCriteria.cshtml", new EZRAC.Risk.UI.Web.ViewModels.Reports.ReportCriteriaViewModel())

    <div id="ReportResult">
    </div>
    @*@Html.Partial("~/Areas/Admin/Views/Report/_ReportSearchTagPlate.cshtml", null)*@

</div>
