<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.net>
    <!--<defaultProxy>
      <proxy proxyaddress="http://172.27.171.91:8080" bypassonlocal="True" usesystemdefault="False" />
    </defaultProxy>-->
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LogFilePath" value="Logging" />
    <!--key for ScrapperSourceURL should be also updated in console application-->
    <add key="ScrapperSourceURL" value="http://107.190.142.58/cgi-bin/dot_net_service_call_to_scraper.cgi?" />
    <add key="RateHighwayEndPoint" value="http://uat.racshopper.com/RateHighwayEndPoint/api/ratehighway/Post"/>
    <add key="DataReceived" value="Data Received From Scrapper" />
    <add key="FailedRequest" value="Failed" />
    <add key="DeletedRequest" value="Deleted" />
    <add key="RequestSent" value="Request Sent To Scrapper" />
  </appSettings>
  <connectionStrings>
    <!--<add name="EZRACRateShopperContext" connectionString="Data Source=AKSHAYC-WIN7\SQL2012;Initial Catalog=EZRACRateShopper;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EZRACRateShopperContext" connectionString="Data Source=ABHIJEETGH-W7;Initial Catalog=RateShopperPROD;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>