@model EZRAC.Risk.UI.Web.Helper.NotesPageHelper<EZRAC.Risk.UI.Web.ViewModels.Claims.NotesViewModel>

@Html.Partial("_NotesUrl")
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </header>
            <div class="panel-body">
                <button type="button" class="btn btn1" data-toggle="collapse" data-target=".addNotes" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> ADD NOTE</button>
                <div class="well cla-well collapse container-fluid top15 relative addNotes">
                    <a href="javascript:void(0);" class="close-container" data-toggle="collapse" data-target=".addNotes" title="Close"></a>
                    <div class="tooltip-up-arrow">
                        @Html.Partial("_AddNotes",Model.NotesViewModel)
                    </div>
                </div>
                <div class="top-space clearfix"></div>
                <form class="cla-form" role="form">
                    <div class="relative ncl-slect">
                        <div class="input-type-search-icon input-icon">
                            <input type="text" class="form-control input-type-search" style="margin-bottom:5px;" placeholder="Search" id="searchTxt" />                            
                            <span id="searchResult"></span>
                        </div>
                    </div>
                </form>
                <div class="grey-border-1 top15" id="gridContainer">
                    @Html.Partial("_NotesTable",Model)
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/appScripts/notes-tab.js"></script>