@model EZRAC.Risk.UI.Web.ViewModels.Claims.NotesViewModel

<div class="modal fade cla-modpopup in" id="rejectPop" role="dialog" style="display: block; padding-left: 17px;vertical-align:middle;position:absolute">
        <div class="modal-dialog" style="width:480px;height:600px !important">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Reject Claim</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="bold">Add Note</div><br />
                        <div>
                            @Html.TextAreaFor(x => x.Description, new { style = "width:100%;height:200px;", id="rejectNoteDescription" })
                        </div>
                        <div id="errorDescription" class="errorMsg"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="rejectClaim" class="btn btn1 pull-left top5 right20" data-dismiss="modal">REJECT</button>
                    <button id="cancel" class="btn btn2 pull-left top5" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div>
</div>

<input type="hidden" id="claimId" />
       
<script src="~/Scripts/appScripts/quick-notes.js"></script>
