@model  IEnumerable<EZRAC.Risk.UI.Web.ViewModels.Admin.CompanyViewModel>

<table id="tblCompanyList" class="grey-white-table  dark-blue-header complete complete-width pending-claim-table grey-border-1 bordered-table w99">
    <thead>
        <tr class="white-color th--min-height">
            <th class="">
                <div class="th-min-height align-text-left margin-left-admin"> Company Name </div>
            </th>
            <th class="">
                <div class="th-min-height align-text-left margin-left-admin"> Abbreviation </div>
            </th>
            <th class="">
                <div class="th-min-height"> Delete </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <input type="hidden" id="companyID" class="companyID" value="@item.Id" />
                    <td style="cursor: pointer;" class="claim-status-coloumn field align-text-left">@item.Name</td>
                    <td style="cursor: pointer;" class="claim-status-coloumn field abbr align-text-left">@item.Abbr</td>
                    <td class="claim-status-coloumn">
                        <a style="cursor: pointer;" class="delete-action" title="Delete" href="javascript:void(0);"><span class="ico-delete">&nbsp;</span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $(document).find('.main-nav li').removeClass('active');
        $(document).find('.main-nav li').eq(1).addClass('active');

        $.extend(true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": true,
            "paging": false,
            "info": false,
            "destroy": true
            //"destroy": true
        });

        $('#CompanyList table').DataTable({
            columnDefs: [
            {
                   "orderable": false, "targets": [-1],
            }
            ],
            "order": [[0, "asc"]],
            "language": {
                "emptyTable": "Company are not available"
            }
        });
        $(".dataTables_filter").css("display", "none");
        $("#companySearch").keyup(function () {
            $('#CompanyList table').DataTable().search($('#companySearch').val()).draw();
        });
        GetCompanyById();
        DeletCompanyById();
    });
</script>