<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LogFilePath" value="Logging" />
    <!--TSD UPDATE KEYS-->
    <add key="TRNXMLVersion" value="1.0.0" />
    <add key="TimeZone" value="ET" />
    <add key="SenderId" value="NW001" />
    <add key="RecipientID" value="TRN" />
    <add key="RecipientName" value="TRN Reservations Systems, Inc." />
    <add key="TradingPartnerCode" value="WEB01" />
    <add key="TradingPartnerName" value=" " />
    <add key="MessageID" value="ADDRAT" />
    <add key="MessageDesc" value="Add Rates" />
    <add key="PerMile" value="0" />
    <add key="DailyFree" value="0" />
    <add key="ExtraDayFree" value="0" />
    <add key="WeeklyFree" value="0" />
    <add key="RateType" value="S" />
    <add key="GOVRateType" value="G" />
    <add key="GOVRateCode" value="GOV" />
    <add key="TSDPostURL-EZ" value="https://weblink.tsdasp.net/requests/service.svc/"/>
    <!--url to update rates of Tethered Brand-->
    <add key="TSDPostURL-AD" value="https://weblink.tsdasp.net/requests/service.svc/"/>
    <!--TSD UPDATE KEYS END-->
    <add key="LORRateCode" value="STD" />
    <add key="EZRateSystem" value="Weblink" />
    <add key="ADRateSystem" value="WSPAN" />
    <add key="SendTSDUpdates" value="false"/>
    <add key="FromMailId" value="abhijeetgh@evolvingsols.com" />
    <!--<add key="FromMailId" value="akshayc@cybage.com" />-->
    <add key="EmailTemplate" value="EmailTemplate" />
    <add key="AdminEmail"  value="akshayc@cybage.com"/>
    <add key="AdminName"  value="Akshay"/>
    <add key="RatesNotConfigureMsg" value="Please configure FTB Rate and Target Settings for below Brand Location and Month. The FTB Automation job can be scheduled after "/>
    <add key="ScheduleFTBMsg" value="Please configure FTB Automation Job for below brand location and Month. You can do it after "/>
    <add key="TargetMessage" value="Please find Target Slab %, Rate Increase % and Reservation Count details per Shop Date for the given month"/>
    <add key="Blackout" value="No black out period configured"/>
    <add key="TargetSubject" value="FTB Job Run Status Details"/>
    <add key="JSONKey" value="d"/>
    <!--<add key="TSDReservationEndPoint" value="http://172.27.52.236/GETTSDCount/api/RateHighway/getRateShopperRezCounts?strStartDate='{ShopStartDate}'&amp;strEndDate='{ShopEndDate}'&amp;strBrandLocation='{BrandLocation}'"/>-->
    <add key="TSDReservationEndPoint" value="http://64.37.61.74/TSDCount/api/ratehighway/getRateShopperRezCounts"/>

    <!--Opaque Rates-->
    <add key="OpaqueLORs" value="D3,W7"/>
  </appSettings>
  <connectionStrings>
    <add name="EZRACRateShopperContext" connectionString="Data Source=AKSHAYC-WIN7\SQL2012;Initial Catalog=EZRACRateShopperFTB;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="TSDContext" connectionString="Data Source=10.23.16.194;Initial Catalog=42052;Persist Security Info=True;User ID=cyread;Password=Openbarley!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <!-- deliveryMethod = SpecifiedPickupDirectory will dump emails at directory specified in tag specifiedPickupDirectory  -->
      <!-- deliveryMethod = Network will take values from network tag and will use them to send an email. This will be used in real scenario-->
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory">-->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <!-- pickupDirectoryLocation need to updated as per location -->
        <specifiedPickupDirectory pickupDirectoryLocation="\\172.27.52.236\EZRACEmails" />
        <network host="172.27.172.202" port="25" userName="abhijeetgh" password="Yhft@111" />
      </smtp>
    </mailSettings>

  </system.net>
</configuration>