<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    </configSections>
  <connectionStrings>

    <!--<add name="CRMSContext" connectionString="Data Source=172.27.52.21;Initial Catalog=Risk;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="CRMSContext" connectionString="Data Source=10.10.10.72;Initial Catalog=Risk_UAT;Persist Security Info=True;User ID=sa;Password=Advantage123!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
   <add name="CRMSContext" connectionString="Data Source=ANANDKUMARL-W8;Initial Catalog=RiskDev;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TSDContext" connectionString="Data Source=10.1.10.233;Initial Catalog=42052;Persist Security Info=True;User ID=cyread;Password=Openbarley!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EZRAC.Risk.UI.Web.Models.ApplicationDbContext" connectionString="EZRAC.Risk.UI.Web.Models.ApplicationDbContext_ConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebApiUri" value="http://localhost:56882/" />
  
   <add key="EmailTemplatePath" value="~\App_Data\" />
   <add key="FromMailId" value="risk@ezrac.com" />
    <add key="cookie.timeout-minutes" value="20" />
   <add key="EmailDisplayName" value="" />
   <add key="NewClaimSubmittedEmailSubject" value="New Claim Submitted" />
    <add key="FollowUpAddDays" value="1" />
    <add key="RecordsToDisplay" value="5" />
    <add key="LPC2Deductible" value="3000" />
    <add key ="PaymentPlanDate" value="15th"/>
    <add key="PicturesAndFilesPath" value="~/App_Data/Images/Claims/" />

    <add key="AdminAccess" value="Administrator,Risk Manager" />

    <add key="TrafficParkingTicketPhone" value="407.888.0500"/>
    <add key="TrafficParkingTicketFax" value="407.438.1096"/>

    <add key="ViolationTicketPhone" value="407.888.0528"/>
    <add key="ViolationTicketFax" value=""/>

    <add key="SendEmailToEmpire" value="USZ_carecenter@zurichna.com"/>
    <add key="SendEmailToNationalCasualty" value="sicreportaloss@scottsdaleins.com"/>
    <add key="SendEmailToKnightManagement" value="kmisclaims@knightcompany.com"/>
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="40960" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    
    <customErrors defaultRedirect="/Error/error" mode="Off">
      <error statusCode="404" redirect="/Error/notfound" />      
    </customErrors>
    <sessionState timeout="1"></sessionState>
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source=172.27.52.238;user id=sa; password=cybage@123" cookieless="false" timeout="20"  />-->
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />   
    </modules>
    <!-- 
    GZip static and dynamic file content.  Overrides the server default which only compresses static files over 2700 bytes (IIS 7.5) and 256 bytes (IIS 7.0)
    NOTE: noCompressionForProxies="false" noCompressionForHttp10="false" entries required for [AWS] CDN in the applicationHost.config - doesn't work inline
    -->
    <httpCompression minFileSizeForComp="1024">
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>      
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" />
       <remove statusCode="404" />
     <error statusCode="403" responseMode="ExecuteURL" path="/Error/Forbidden" />
    <error statusCode="404" responseMode="ExecuteURL" path="/Error/notfound" /> 
  </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>     
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="CRMSContext" applicationName="Risk" />
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <system.net>
    <mailSettings>
      <!-- deliveryMethod = SpecifiedPickupDirectory will dump emails at directory specified in tag specifiedPickupDirectory  -->
      <!-- deliveryMethod = Network will take values from network tag and will use them to send an email. This will be used in real scenario-->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="\\172.27.52.238\RiskEmails" />        
        <!-- pickupDirectoryLocation need to updated as per location -->
        <network host="172.27.172.202" port="25" userName="ezrac" password="Apple$1234" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>

